/* ============================================= */
/*              Buttons                          */
/* ============================================= */


.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercas;
    border-radius: 5px;
  }
  
  .default {
    background-color: $blue;
    &:hover {
      background-color: lighten($blue, 10%);
    }
  }
  
  .error {
    background-color: #e4757a;
    &:hover {
      background-color: lighten(#e4757a, 10%);
    }
  }
  
  .info {
    background-color: $purple;
    &:hover {
      background-color: lighten($purple, 10%);
    }
  }
  
  .success {
    background-color: #63cc82;
    &:hover {
      background-color: lighten(#63cc82, 10%);
    }
  }
  
  .warning {
    background-color: $orange;
    &:hover {
      background-color: lighten($orange, 10%);
    }
  }